<div class="bg-fundo maxWidth">
  <!-- Seção de Celulares -->
  <div class="categoria-section" *ngIf="celulares.length > 0">
    <h2 class="categoria-titulo">
      <i class="pi pi-shopping-bag"></i>
      Celulares
    </h2>
    <div class="card maxWidth">
      <p-carousel
        [value]="celulares"
        [numVisible]="5"
        [numScroll]="1"
        [showIndicators]="false"
        [responsiveOptions]="responsiveOptions"
      >
        <ng-template let-produto pTemplate="item">
          <app-produto-card [produto]="produto"></app-produto-card>
        </ng-template>
      </p-carousel>
    </div>
  </div>

  <!-- Seção de Notebooks -->
  <div class="categoria-section" *ngIf="notebooks.length > 0">
    <h2 class="categoria-titulo">
      <i class="pi pi-shopping-bag"></i>
      Notebooks
    </h2>
    <div class="card maxWidth">
      <p-carousel
        [value]="notebooks"
        [numVisible]="5"
        [numScroll]="1"
        [showIndicators]="false"
        [responsiveOptions]="responsiveOptions"
      >
        <ng-template let-produto pTemplate="item">
          <app-produto-card [produto]="produto"></app-produto-card>
        </ng-template>
      </p-carousel>
    </div>
  </div>

  <!-- Seção de Teclados -->
  <div class="categoria-section" *ngIf="monitores.length > 0">
    <h2 class="categoria-titulo">
      <i class="pi pi-shopping-bag"></i>
      Monitores
    </h2>
    <div class="card maxWidth">
      <p-carousel
        [value]="monitores"
        [numVisible]="5"
        [numScroll]="1"
        [showIndicators]="false"
        [responsiveOptions]="responsiveOptions"
      >
        <ng-template let-produto pTemplate="item">
          <app-produto-card [produto]="produto"></app-produto-card>
        </ng-template>
      </p-carousel>
    </div>
  </div>
</div>
