<footer class="footer">
  <div class="footer-content maxWidth">
    <div class="footer-section">
      <h3>Sobre a TurboSetup</h3>
      <p>
        A TurboSetup é uma das lojas de tecnologia com melhor preço do Brasil,
        oferecendo os melhores produtos com os melhores preços.
      </p>
      <div class="social-media">
        <a href="#" class="social-link"
          ><fa-icon [icon]="faFacebook"></fa-icon
        ></a>
        <a href="#" class="social-link"
          ><fa-icon [icon]="faInstagram"></fa-icon
        ></a>
        <a href="#" class="social-link"
          ><fa-icon [icon]="faTwitter"></fa-icon
        ></a>
        <a href="#" class="social-link"
          ><fa-icon [icon]="faYoutube"></fa-icon
        ></a>
      </div>
    </div>

    <div class="footer-section">
      <h3>Links Úteis</h3>
      <ul>
        <li><a routerLink="/sobre">Sobre Nós</a></li>
        <li><a routerLink="/contato">Contato</a></li>
        <li>
          <a routerLink="/politica-privacidade">Política de Privacidade</a>
        </li>
        <li><a routerLink="/termos-uso">Termos de Uso</a></li>
        <li><a routerLink="/trocas-devolucoes">Trocas e Devoluções</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h3>Contato</h3>
      <ul class="contact-info">
        <li>
          <fa-icon [icon]="faPhone"></fa-icon>
          <span>(98) 98415-8711</span>
        </li>
        <li>
          <fa-icon [icon]="faEnvelope"></fa-icon>
          <span>Antoniwoweb&#64;gmail.com</span>
        </li>
        <li>
          <fa-icon [icon]="faMapMarkerAlt"></fa-icon>
          <span>São Paulo, SP - Brasil</span>
        </li>
      </ul>
    </div>

    <div class="footer-section">
      <h3>Newsletter</h3>
      <p>Receba nossas novidades e promoções exclusivas!</p>
      <form (ngSubmit)="onSubmit()" class="newsletter-form">
        <input
          type="email"
          pInputText
          [(ngModel)]="email"
          name="email"
          placeholder="Seu melhor e-mail"
          required
        />
        <p-button
          type="submit"
          label="Inscrever-se"
          styleClass="p-button-success"
        ></p-button>
      </form>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="maxWidth">
      <p>&copy; 2025 TurboSetup  Todos os direitos reservados.</p>
    </div>
  </div>
</footer>
