.value_atual {
  color: var(--cor-primaria);
  font-size: 1.25rem;
  line-height: 1.875rem;
  font-weight: 700;
}

.butto_comprar span {
  font-size: 14px;
}

.butto_comprar {
  background: var(--cor-primaria);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  cursor: pointer;
  padding: 4px;
  color: white;
  border-radius: 5px;
}

.p_item_componet .icon {
  display: none;
}

.p_item_componet:hover .icon {
  display: flex !important;
  font-size: 16px !important;
}

.op_payment, span {
  padding-top: 2px;
  font-size: .75rem;
}

.iJKRqI {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  margin-top: 0.5rem;
  color: rgb(66, 70, 77);
  min-height: 3.75rem;
}

.nlmfp {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-break: break-word;
  max-height: 3.375rem;
}
