<div class="form-grid">
  <div class="form-header-dados-basicos">
    <fa-icon
      [icon]="faMapMarkerAlt"
      size="1x"
      class="icon-dados-basicos"
    ></fa-icon>
    <h5>Endereços</h5>
  </div>
  <div class="indicador-endereco">
    <button class="novo-endereco" (click)="toggleNovoEndereco()">+
       cadastrar novo endereço
    </button>
  </div>

  <ng-container *ngIf="mostrarFormularioVolta">
    <div class="inderoco-visualizacao" *ngFor="let endereco of enderecos">
      <div class="inderoco-visualizacao-header">
        <h6>{{endereco.identificacao}}</h6>
        <h5>({{endereco.tipoEndereco}})</h5>
      </div>
      <p class="logradouro">{{endereco.logradouro}}</p>
      <p>Número: <span class="numero">{{endereco.numero}} - {{endereco.referencia}}</span> </p>
      <p class="cep"> CEP {{endereco.cep}}- {{endereco.bairro}} - {{endereco.cidade}} - {{endereco.estado}}</p>

      <div class="butao-editar">
        <button class="btn-editar" (click)="editarEndereco(endereco)">editar</button>
      </div>
    </div>
  </ng-container>

  <div class="formulario-endereco" *ngIf="!mostrarFormularioVolta">
    <span class="titulo-formulario-container">
      <i class="pi pi-chevron-left" (click)="mostrarNovoEndereco ? toggleNovoEndereco() : toggleFormularioVolta()"></i>
      <h4>{{ mostrarNovoEndereco ? 'Novo endereço' : 'Editar endereço' }}</h4>
    </span>
    <form [formGroup]="enderecoForm">
      <div class="form-group cep-group">
        <label for="cep">CEP</label>
        <input
          type="text"
          id="cep"
          formControlName="cep"
          maxlength="8"
          [class.erro]="
            enderecoForm.get('cep')?.invalid && enderecoForm.get('cep')?.touched
          "
        />
        <fa-icon [icon]="faLock" class="lock-icon"></fa-icon>
        <div
          class="erro-mensagem"
          *ngIf="
            enderecoForm.get('cep')?.touched && enderecoForm.get('cep')?.invalid
          "
        >
          <span *ngIf="enderecoForm.get('cep')?.errors?.['required']"
            >CEP é obrigatório</span
          >
          <span *ngIf="enderecoForm.get('cep')?.errors?.['minlength']"
            >CEP deve ter 8 dígitos</span
          >
        </div>
      </div>

      <div class="form-group">
        <label for="identificacao">Identificação</label>
        <input
          type="text"
          id="identificacao"
          formControlName="identificacao"
          [class.erro]="
            enderecoForm.get('identificacao')?.invalid &&
            enderecoForm.get('identificacao')?.touched
          "
        />
        <div
          class="erro-mensagem"
          *ngIf="
            enderecoForm.get('identificacao')?.touched &&
            enderecoForm.get('identificacao')?.invalid
          "
        >
          <span *ngIf="enderecoForm.get('identificacao')?.errors?.['required']"
            >Identificação é obrigatória</span
          >
        </div>
      </div>

      <div class="form-group logradouro-group">
        <label for="logradouro">Logradouro</label>
        <input
          type="text"
          id="logradouro"
          formControlName="logradouro"
          [class.erro]="
            enderecoForm.get('logradouro')?.invalid &&
            enderecoForm.get('logradouro')?.touched
          "
        />
        <fa-icon [icon]="faLock" class="lock-icon"></fa-icon>
        <div
          class="erro-mensagem"
          *ngIf="
            enderecoForm.get('logradouro')?.touched &&
            enderecoForm.get('logradouro')?.invalid
          "
        >
          <span *ngIf="enderecoForm.get('logradouro')?.errors?.['required']"
            >Logradouro é obrigatório</span
          >
        </div>
      </div>

      <div class="numero-complemento-grid">
        <div class="form-group numero-group">
          <label for="numero">Número</label>
          <input
            type="text"
            id="numero"
            formControlName="numero"
            [class.erro]="
              enderecoForm.get('numero')?.invalid &&
              enderecoForm.get('numero')?.touched
            "
          />
          <fa-icon [icon]="faLock" class="lock-icon"></fa-icon>
          <div
            class="erro-mensagem"
            *ngIf="
              enderecoForm.get('numero')?.touched &&
              enderecoForm.get('numero')?.invalid
            "
          >
            <span *ngIf="enderecoForm.get('numero')?.errors?.['required']"
              >Número é obrigatório</span
            >
          </div>
        </div>

        <div class="form-group">
          <label for="complemento">Complemento</label>
          <input type="text" id="complemento" formControlName="complemento" />
        </div>
      </div>

      <div class="form-group">
        <label for="referencia">Referência</label>
        <input type="text" id="referencia" formControlName="referencia" />
      </div>

      <div class="form-group bairro-group">
        <label for="bairro">Bairro</label>
        <input
          type="text"
          id="bairro"
          formControlName="bairro"
          [class.erro]="
            enderecoForm.get('bairro')?.invalid &&
            enderecoForm.get('bairro')?.touched
          "
        />
        <fa-icon [icon]="faLock" class="lock-icon"></fa-icon>
        <div
          class="erro-mensagem"
          *ngIf="
            enderecoForm.get('bairro')?.touched &&
            enderecoForm.get('bairro')?.invalid
          "
        >
          <span *ngIf="enderecoForm.get('bairro')?.errors?.['required']"
            >Bairro é obrigatório</span
          >
        </div>
      </div>

      <div class="form-group cidade-group">
        <label for="cidade">Cidade</label>
        <input
          type="text"
          id="cidade"
          formControlName="cidade"
          [class.erro]="
            enderecoForm.get('cidade')?.invalid &&
            enderecoForm.get('cidade')?.touched
          "
        />
        <fa-icon [icon]="faLock" class="lock-icon"></fa-icon>
        <div
          class="erro-mensagem"
          *ngIf="
            enderecoForm.get('cidade')?.touched &&
            enderecoForm.get('cidade')?.invalid
          "
        >
          <span *ngIf="enderecoForm.get('cidade')?.errors?.['required']"
            >Cidade é obrigatória</span
          >
        </div>
      </div>

      <div class="form-group estado-group">
        <label for="estado">UF</label>
        <input
          type="text"
          id="estado"
          formControlName="estado"
          maxlength="2"
          [class.erro]="
            enderecoForm.get('estado')?.invalid &&
            enderecoForm.get('estado')?.touched
          "
        />
        <fa-icon [icon]="faLock" class="lock-icon"></fa-icon>
        <div
          class="erro-mensagem"
          *ngIf="
            enderecoForm.get('estado')?.touched &&
            enderecoForm.get('estado')?.invalid
          "
        >
          <span *ngIf="enderecoForm.get('estado')?.errors?.['required']"
            >UF é obrigatório</span
          >
          <span *ngIf="enderecoForm.get('estado')?.errors?.['minlength']"
            >UF deve ter 2 letras</span
          >
        </div>
      </div>

      <div class="form-actions">
        <button class="btn-excluir-conta" *ngIf="!mostrarNovoEndereco">excluir endereço</button>
        <button class="btn-salvar-alteracoes" (click)="mostrarNovoEndereco ? salvarNovoEndereco() : salvarEndereco()">
          {{ mostrarNovoEndereco ? 'salvar novo endereço' : 'salvar endereço' }}
        </button>
      </div>
    </form>
  </div>
</div>
