.numero-complemento-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 0.5rem;
}

.indicador-endereco {
  display: flex;
  margin-bottom: 0.5rem;

  color: var(--cor-primaria);
  align-items: center;

  button {
    color: var(--cor-primaria);
    background-color: transparent;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 3px;
    text-transform: uppercase;
    font-size: 0.675rem;
    font-weight: 700;
  }
}
.inderoco-visualizacao {
  padding: 1rem 1rem 0.5rem 1.5rem;
  margin-bottom: 0.5rem;
  background-color: rgb(255, 239, 230);
  border-width: 0.0625rem 0.0625rem 0.0625rem 0.25rem;
  border-style: solid;
  border-color: rgb(255, 101, 0);
  color: rgb(127, 133, 141);
  max-height: 22.5rem;

  .numero,
  .logradouro {
    text-transform: uppercase;
  }
}

.inderoco-visualizacao h6 {
  font-weight: bold;
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #333;
  margin-bottom: 8px;
}
.inderoco-visualizacao span {
  font-size: 0.855rem;
}
.inderoco-visualizacao p {
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 400;
  margin: 0.25rem 0px;
}

.inderoco-visualizacao-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h5 {
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-weight: 600;

    text-transform: uppercase;
    color: rgb(255, 101, 0);
  }
}
.titulo-formulario-container {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  gap: 8px;

  i {
    font-size: 0.875rem;
    color: var(--cor-primaria);
  }

  h4 {
    font-size: 0.865rem;

    text-transform: uppercase;
    color: rgb(66, 70, 77);
    font-weight: 700;
    margin: 0;
  }
}

.butao-editar {
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  margin-top: 1rem;

  button{
    background-color: transparent;
    border: 0px;
    margin: 0px 0.5rem;
    font-size: 0.85rem;
    line-height: 0.875rem;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(182, 187, 194);
  }
}