* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.header {
  background-color: #0060b1;
  padding: 20px 0;
}

.search {
  flex-grow: 1;
  max-width: 650px;
  display: flex;
  align-items: center;
  position: relative;
}

.nav-container {
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: space-between;
}
.search svg {
  position: absolute;
  right: -60px;
  top: 50%;
  transform: translate(-50%, -50%);
}

.p-inputtext {
  height: 2.25rem !important;
  border-radius: 4px;
  width: 100%;
}

input[type="text"] {
  padding: 16px;
}


.icons{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.p-inputtext:focus {
  border-color: rgb(22, 21, 21);
  outline: none;
  box-shadow: 0 0 8px rgba(29, 28, 28, 0.5);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo-img {
  width: 158px;
  height: 64px;
}

.nav-links {
  display: grid;
  grid-template-columns: repeat(2, 160px);
  gap: 20px; }

.nav-links li {
  display: inline;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  transition: color 0.3s;
}

.isLogin {
  display: flex;
  align-items: center;
}
.isLogin a {
  font-size: 0.75rem;
  font-weight: 700;
}
.isLogin > span {
  font-size: 0.75rem;
  line-height: 1.125rem;
  color: rgba(255, 255, 255, 0.8);
}
.login-opçoes {
  display: flex;
  flex-direction: column;
}

.Offcanvas-menu {
  padding: 15px;

}

