<app-header></app-header>

<div class="conta-container">
  <app-sidebar-user></app-sidebar-user>

  <div class="conteudo">

    <ng-container *ngIf="router.url === '/minha-conta'">
      <div class="user-header">
        <div class="user-info">
          <div class="user-avatar">
            <img
              [src]="userProfile?.fotoPerfil || 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcQ_eoyu-ek2ju7f-NhDlzLtQXNWg-etAXco7UbW4u7S50sgCImeUex34beKj8Q66dmAw&usqp=CAU'"
              alt="Foto de perfil"
              class="profile-image"
            />
          </div>

          <div class="user-email">
            <h1>Bem-vindo, <span class="user-name">{{ userProfile?.nome || 'Usuário' }}</span></h1>
            <div class="user-email-text">
              <i class="pi pi-envelope"></i>
              <span>{{ userProfile?.email || 'email@exemplo.com' }}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="atalhos-container-title">
        <div class="atalhos-container-title-content">
          <i class="pi pi-th-large"></i>
          <h2>Atalhos</h2>
        </div>
      </div>
      <div class="atalhos-container">
        <div class="atalho-card" routerLink="/minha-conta/meus-pedidos">
          <i class="pi pi-shopping-bag"></i>
          <div class="atalho-card-content">
            <h3>Meus Pedidos</h3>
            <p>Veja históricos e acompanhe suas compras.</p>
          </div>
        </div>

        <div class="atalho-card" routerLink="/minha-conta/meus-dados">
          <i class="pi pi-user"></i>
          <div class="atalho-card-content">
            <h3>Meus Dados</h3>
            <p>Altere seus dados cadastrados, endereços ou cadastre um novo endereço.</p>
          </div>
        </div>
        <div class="atalho-card" routerLink="/minha-conta/meus-favoritos">
          <i class="pi pi-heart"></i>
          <div class="atalho-card-content">
            <h3>Favoritos</h3>
            <p>Consulte sua lista de produtos favoritados.</p>
          </div>
        </div>
      </div>
    </ng-container>

    <router-outlet></router-outlet>
  </div>
</div>

<app-footer></app-footer>
