<div class="usuarios-container">
  <h2>Lista de Usuários</h2>

  <!-- Cabeçalho da tabela -->
  <div class="usuarios-header">
    <span>Nome</span>
    <span>E-mail</span>
    <span>Data de Cadastro</span>
    <span>Status</span>
    <span>Tipo</span>
    <span>Ações</span>
  </div>

  <!-- Lista de usuários -->
  <div *ngFor="let usuario of usuarios" class="usuario-item" style="visibility: visible !important; opacity: 1 !important;">
    <span>{{ usuario.nome }}</span>
    <span>{{ usuario.email }}</span>
    <span>{{ usuario.dataNascimento | date:'dd/MM/yyyy' }}</span>
    <span>{{ usuario.ativo ? 'Ativo' : 'Inativo' }}</span>
    <span>
      <select [(ngModel)]="usuario.role" class="usuario-role-select">
        <option value="user">User</option>
        <option value="admin">Admin</option>
      </select>
    </span>
    <span>
      <button (click)="atualizarUsuario(usuario)" class="btn-delete">Atualizar</button>
    </span>
  </div>

</div>

