<div class="processo-compra">
  <div class="etapa" [ngClass]="{'ativa': etapaAtual === 1, 'concluida': etapaAtual > 1}">
    <div class="numero">1</div>
    <span>Carrinho</span>
  </div>
  <div class="linha" [ngClass]="{'concluida': etapaAtual > 1}"></div>
  <div class="etapa" [ngClass]="{'ativa': etapaAtual === 2, 'concluida': etapaAtual > 2}">
    <div class="numero">2</div>
    <span>Pagamento</span>
  </div>
  <div class="linha" [ngClass]="{'concluida': etapaAtual > 2}"></div>
  <div class="etapa" [ngClass]="{'ativa': etapaAtual === 3, 'concluida': etapaAtual > 3}">
    <div class="numero">3</div>
    <span>Confirmação</span>
  </div>
  <div class="linha" [ngClass]="{'concluida': etapaAtual > 3}"></div>
  <div class="etapa" [ngClass]="{'ativa': etapaAtual === 4, 'concluida': etapaAtual > 4}">
    <div class="numero">4</div>
    <span>Concluir</span>
  </div>
</div>
