<div class="steps-container">
  <div class="steps">
    <div class="step" [class.active]="etapaAtual === 1" [class.completed]="etapaAtual > 1">
      <i class="pi pi-shopping-cart"></i>
      <span>Carrinho</span>
    </div>
    <div class="step-line" [class.completed]="etapaAtual > 1"></div>
    <div class="step" [class.active]="etapaAtual === 2" [class.completed]="etapaAtual > 2">
      <i class="pi pi-credit-card"></i>
      <span>Pagamento</span>
    </div>
    <div class="step-line" [class.completed]="etapaAtual > 2"></div>
    <div class="step" [class.active]="etapaAtual === 3" [class.completed]="etapaAtual > 3">
      <i class="pi pi-eye"></i>
      <span>Confirmação</span>
    </div>
    <div class="step-line" [class.completed]="etapaAtual > 3"></div>
    <div class="step" [class.active]="etapaAtual === 4" [class.completed]="etapaAtual > 4">
      <i class="pi pi-check"></i>
      <span>Concluir</span>
    </div>
  </div>
</div>