.nav-logo {
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  background-color: #161719;
}
.logo-container {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.logo-img {
  height: 110px;
}

.isLogin {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;

  span {
    font-size: 13px;
    font-weight: 700;

  }

  a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 460px;
}

