<div class="sidebar">
  <nav class="sidebar-nav">
    <a routerLink="/minha-conta" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <i class="pi pi-home"></i>
      <span class="nav-text">Início</span>
    </a>
    <a routerLink="/minha-conta/meus-dados" class="nav-item" routerLinkActive="active">
      <i class="pi pi-user"></i>
      <span class="nav-text">Meus Dados</span>
    </a>
    <a routerLink="/minha-conta/meus-pedidos" class="nav-item" routerLinkActive="active">
      <i class="pi pi-shopping-bag"></i>
      <span class="nav-text">Meus Pedidos</span>
    </a>
  </nav>
</div>
